<!--<div class="container">
    <form>
        <div class="form-group">
          <label for="baslik">Başlık</label>
          <input type="text" class="form-control" id="baslik" ng-model="baslik" />
        </div>
        <div class="form-group">
          <label for="icerik">İçerik</label>
          <input type="text" class="form-control" id="icerik" ng-model="icerik" />
        </div>
        <button type="submit" class="btn btn-warning" ng-click="ekle()">Ekle</button>
    </form><br/>
    <h3>Makale Listesi</h3>
    <div>
        <ul class="list-group" id="ul">

        </ul>
    </div>
</div>-->

<p>Dashboard</p>
